<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="fluiddigital" translate="label" sortOrder="200">
            <label>Fluid Digital</label>
        </tab>
        <section id="freedelivery" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Free Delivery Upsell</label>
            <tab>fluiddigital</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>FluidDigital_DeliveryUpsell::config_deliveryUpsell</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="total" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Delivery Cart Total</label>
                </field>
            </group>
        </section>
    </system>
</config>